/node_modules/
# Allure folders

/allure-report/
/allure-results/

#Cypress local folders with files
cypress/fixtures/
cypress/screenshots/
cypress/videos/
# Script summarize for prject
/python_summary/

#src file in CypressTests
/Main.ts

/.idea/
# Python cache folders
PythonTests/__pycache__
PythonTests/services/__pycache__
PythonTests/tests/__pycache__

#Python cache files
*.pyc